@use "../../styles/color/color" as *;

.loginWrapper {
  display: flex;
  justify-content: center;
}

.loginFormWrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.loginTitle {
  text-align: center;
  margin-bottom: 0.5rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loginInputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 80%;

  .loginInputLabel {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .loginInput {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem;
    outline: none;
    border-radius: 15px;
    border: 2px solid black;
  }

  .inputError {
    color: red;
  }
}

.passwordRules {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;

  .passwordRule {
    margin-right: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
}

.loginSwitchTxt {
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem 0rem;

  .loginSwitch {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
