@use "../../styles/color/color" as *;

.contentWrapper {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../assets/course.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.mainContentWrapper {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.profileWrapper {
  margin-top: 2rem;
  border: 2px solid white;
  width: 75%;
  border-radius: 15px;
  background-color: #ddd;
  box-shadow: 0 4px 8px black;
  overflow: hidden;
  backdrop-filter: blur(10px);
  transition: transform 0.2s;
}

.profileInfo {
  border-bottom: 2px solid white;
  padding: 2rem;
}

.profileNameWrapper {
  align-items: center;
  justify-content: center;
}

.profileNameInput {
  font-size: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bolder;
}

.profileStatsWrapper {
  display: flex;
  flex-wrap: wrap;

  .scoreStats,
  .courseStats {
    flex: 1;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.8);
    border-right: 2px solid white;
    text-align: center;
  }

  .courseStats {
    border-right: none;
  }

  .scoreStatsTitle,
  .courseStatsTitle {
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: underline;
    margin: 1rem;
    color: #333;
  }

  .scoreStat,
  .courseStat {
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
  }
}

.followInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.followInfo {
  display: flex;
}

.followItem {
  margin: 2rem;
  margin-top: 0rem;
  .followTitle {
    font-size: 2rem;
  }

  .followCount {
    font-size: 2.5rem;
  }
}

.followBtn {
  width: 400px;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s linear;
  color: $primary-color;
  background-color: $neutral-light-color;
  border: 2px solid $secondary-color;

  &:hover {
    background-color: $neutral-dark-color;
    color: $accent-color;
    border: 2px solid $accent-color;
  }

  &.isFollowed {
    background-color: $neutral-dark-color;
    color: $accent-color;
    border: 2px solid $accent-color;
  }
}
