@use "../../styles/color/color" as *;
@import "../../styles/scrollbar/scrollbar.scss";

$scrollbar-bg: #f0f0f0;
$scrollbar-thumb: #888;
$scrollbar-thumb-hover: #555;
$scrollbar-width: 10px;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  @include custom-scrollbar();
}

.heroSection {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    url("../../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;

  .heroTxt {
    margin-left: 2rem;
  }

  .heroTitle {
    color: $highlight-color;
    font-size: 4rem;
  }

  .heroSubtitle {
    color: $neutral-light-color;
    font-size: 2rem;
  }
}
