@use "../../styles/color/color" as *;

.navWrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  position: fixed;
  width: 100vw;
  background-color: $neutral-dark-color;
  color: white;
  height: 4rem;
  max-height: 4rem;
  overflow: hidden;

  .navTitle {
    padding: 1rem;
    cursor: pointer;
    color: #ffd700;
    transition: all 0.2s linear;
    transform: scale(1);

    &:hover {
      transform: scale(1.05);
    }
  }

  .navListWrapper {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  .navList {
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navListItem {
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s linear;
    transform: scale(1);
    transform-origin: center;
    position: relative;

    &:hover {
      color: $highlight-color;
      transform: scale(1.1);
    }
  }

  .disableLogin {
    display: none;
  }
}
